{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
        
      <div class="container-fluid main-container">
        <!--class provides a full width container, spanning the entire width of the viewport -->
        <div class="row">
           <div class="col-12">
              <div>
                 <div class="container jumbotron text-center text-uppercase border border-warning">
                    <h1 class="display-4 text-warning">Don't miss out our amazing deals </h1>
                    <p class="lead"></p>
                    <a class="btn btn-warning btn-lg" href="{% url 'products' %}" role="button" >Top Deals
                    </a>
                    <a class="btn btn-warning btn-lg" href="{% url 'post' %}" role="button">Latests blogs
                    </a>                    
                 </div>
              </div>
           </div>
        </div>
     </div>
{% endblock %}