{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-warning">
                    Always Top Deals
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->
    
      <div class="container-fluid main-container">
        <!--class provides a full width container, spanning the entire width of the viewport -->
        <div class="row">
           <div class="col-12">
              <div>
                 <div class="container jumbotron text-center text-uppercase border border-warning">
                    <h1 class="display-4">Don't miss out our amazing deals </h1>
                    <p class="lead"></p>
                    <a class="btn btn-primary btn-lg" href="#" role="button" >Top Deals
                    </a>
                    <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal"
                       data-target="#myModal">New letters
                    </a>                    
                 </div>
              </div>
           </div>
        </div>
     </div>
{% endblock %}