{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Header -->
<div class="container">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font text-white">Contact Us</h2>
        </div>
    </div>
    
    <!-- Contact Form -->
    <div class="container">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <form id="message-form">
            <label class="text-white" for="fullname">Full Name *</label>
            <input type="text" name="name" class="form-control margin-5" id="fullname" required/>
            <label class="text-white" for="emailaddress">Email Address *</label>
            <input type="email" name="emailaddress" class="form-control margin-5" id="emailaddress" minlength="10" pattern=".+.com" required/>
            <label class="text-white" for="projectsummary">Message *</label>
            <textarea rows="5" name="projectsummary" class="form-control margin-5" style="height:200px" id="projectsummary" required></textarea>
            <button class="shop-now-button btn btn-sm bg-info rounded-4 py-2 mb-4 mt-4" type="submit" id="submit"><strong>Send Message</strong></button>
        </form>
        </div>
    </div>
</div>
{% endblock %}
