{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Page Header -->
        <div class="row text-white">
            <div class="col-12">
                    <h3>FAQS</h3>
                <hr class="section-divider">
            </div>
        </div>        <!-- Page Content -->
        <div class="row">
            <div class="col-12 text-white">
                <p>Below is a list of some of our frequently asked questions to help in your enquiry.</p>
                <p>If you can't find an answer to your question, feel free to get in touch, via our <strong><a class="text-info" href="{% url 'view_contact' %}">Contact</a></strong> page.</p>
                
            </div>

            <!-- Show/Hide all buttons -->
            <div class="col-12 col-toggle d-flex justify-content-center justify-content-md-start">
                <button class="btn bg-info" id="hideAccordianCards">Hide Text</button>
                <button class="btn bg-info" id="showAccordianCards">Show Text</button>
            </div>

            <!-- Questions Iteration -->
            <div class="col-12 w-100">
                {% for question in questions %}
                    <div id="accordion">
                        <div class="card col-box">
                        <div class="col-title card-header" id="questionCollapse">
                            <h5 class="mb-0 text-center text-md-left">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#col_{{ question.id }}" aria-expanded="false" aria-controls="col_{{ question.id }}">
                                    {{ question.question }} <span class="icon"><i class="fas fa-angle-down"></i></span>
                                </button>
                            </h5>
                        </div>
                    
                        <div id="col_{{ question.id }}" class="question-col collapse" aria-labelledby="questionCollapse">
                            <div class="card-body col-text container-fluid">
                                {{ question.answer }}
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // ref: https://stackoverflow.com/questions/22057505/bootstrap-collapse-expand-all
        $("#hideAccordianCards").click(function() {
            $('.question-col.collapse').removeClass('show');
        });
        $("#showAccordianCards").click(function() {
            $('.question-col.collapse').addClass('show');
        });
    </script>
{% endblock %}